html {
  position: relative;
  display: flex;
  min-height: 100%;
  min-width: 320px;
}

body {
  margin-bottom: $footerHeight;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $gray-800;
  .container {
    max-width: 100vw;
    span {
      white-space: nowrap;
      font-size: $font-size-sm;
    }
    a {
      color: $blue;
    }
  }
}

button:focus {
  outline: none !important;
}

.form-group {
  min-width: 200px;

  &.is-invalid {
    .invalid-feedback {
      display: block;
    }
  }
}
