.sidebar,
.sidenav {
  z-index: 10000;
  background-color: $gray-400;
  transition: all .2s linear;
  margin-left: -$sidebarWidth;
  &.active {
    margin-left: 0;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.sidenav {
  min-width: $sidenavWidth;
  max-width: $sidenavWidth;
}
.sidebar {
  min-width: $sidebarWidth;
  max-width: $sidebarWidth;
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: $footerHeight;
    bottom: $footerHeight;
    box-shadow: $popover-box-shadow;
  }
}

.top-header {
  height: $footerHeight;
  min-height: $footerHeight;
  max-height: $footerHeight;
  background-color: theme-color("primary");

  button {
    cursor: pointer;
  }
  .sidebar-toggle {
    cursor: pointer;
    background-color: theme-color("secondary");
    .icon {
      background: url("../images/menu.svg") center/#{$footerHeight / 4} no-repeat;
      cursor: pointer;
      display: inline-block;
      height: $footerHeight / 4;
      width: $footerHeight / 4;
    }
    &.active {
      .icon {
        background: url("../images/close.svg") center/#{$footerHeight / 4} no-repeat;
      }
    }
  }
}
