<div class="admin-products-page">
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
    <h1>This is Categories Page</h1>
</div>