<div class="admin-users-page">
    <div class="card" flex-xs-grow>
        <div class="">
            <h4 class="card-header">Users List
                <button type="button" id="reload" class="btn btn-secondary">Refresh</button>
            </h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>